.actions {
    display: flex;
    justify-content: space-between;
    margin-top: -0.5rem;
}
.actions button:not(:last-child) {
    margin-right: 0.5rem
}
.submit-spinner {
    display: inline-block;
    margin-left: 3px;
    margin-top: -4px;
    margin-right: -7px;
}